<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="sales_order_save_commit_after">
        <observer name="checkout_type_onepage_save_order_after_discount" instance="Dialcom\ZenCard\Model\Observers\ConfirmDiscount" />
    </event>-->
    <!--<event name="checkout_type_onepage_save_order_after">
        <observer name="checkout_type_onepage_save_order_after" instance="Dialcom\ZenCard\Model\Observers\ConfirmDiscount" />
    </event>-->
    <event name="checkout_submit_all_after">
        <observer name="checkout_type_onepage_save_order" instance="Dialcom\ZenCard\Model\Observers\ConfirmDiscount" />
    </event>
</config>
